.avatarContainer {
  /* width: 50px; */
}

.avatar {
  margin: 5px 0;
}

.paper {
  position: relative;
  padding: 10px;
  min-height: 350px;
}
/* @media (max-width: 600px) {
  .paper {
    min-height: 200px;
  }
} */

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.profilepanel {
  border: blue;
}