.avatarContainer {
  /* width: 50px; */
}

.avatar {
  margin: 5px 0;
}

.paper {
  position: relative;
  padding: 10px 25px 10px 10px;
  min-height: 350px;
}
/* @media (max-width: 600px) {
  .paper {
    min-height: 200px;
  }
} */

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.profilepanel {
  border: blue;
}

/* UPLOAD AVATAR BUTTON*/

/* input[type=file] {
  display: none;
}

label[class=uploadlabel] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  line-height: 16px;
  padding: .2em .4em;
  margin: .2em;
}

img[class=uploadimg] {
  max-height: 100%;
  max-width:  100%;
}

div[class=uploaddiv] {
  border: 1px solid red;

} */

/* .custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Select some files";
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
} */