.addTripPanel_container {
  margin-top: 100px;
  margin-bottom: 100px; 
}

.photo_paper {
  height: 63vh;
}

.photo_gridContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.photo_avatar {
  height: 200px;
  width: 200px;
}

.photo_cityAvatar {
  width: 95%;
  border-radius: 50%;
}

.addMainInformation_paper {
  height: 63vh;
}

.addMainInformation_div {
  width: 97%;
  margin: 0 auto;
  padding-top: 10px;
}

.addMainInformation_select {
  margin: 10px;
}

.addMainInformation_formControl {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}

.addDetails_paper {
  height: 40vh;
}

.addDetails_div {
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
}

.addDescription_paper {
  height: 40vh;
}

.addDescription_div {
  width: 98%;
  margin: 0 auto;
  padding-top: 10px;
}

.buttons_paper {
  display: flex; 
  justify-content: center;
  height: 10vh;
 
}

.buttons_div {
  padding: 10px;
  width: 20vw;
  display: flex;
  justify-content: center;
}

@media (max-width: 1050px) {
  .addTripPanel_mainGridContainer {
    display: flex;
    flex-direction: column;
  }

  .photo_paper {
    width: 95vw;
    height: auto;
  }

  .photo_gridContainer{
    height: 90%;
  }

  .photo_avatar {
    height: 100px;
    width: 100px;
    margin: 10px;
  }

  .photo_cityAvatar {
    width: 50%;
    border-radius: 8%;
    padding: 10px;
  }

  .addMainInformation_paper {
    width: 95vw;
    height: auto;
  }

  .addDetails_paper {
    width: 95vw;
    height: auto;
  }

  .addDescription_paper {
    width: 95vw;
    height: auto;
  }

  .buttons_paper {
    width: 95vw;
    height: auto;
  }
}