/* --color-primary: #fefefe;
  --color-yellow: #fed701;
  --color-darkblue: #02c9da;
  --color-lightblue: #85dbf2;
  --color-lightgray: #f6f6f6;
  --color-darkgray: #626262;
  --color-dark: #191919;

  --font-body: 'Source Sans Pro', sans-serif;
  --font-header: 'Asap Condensed', sans-serif; */

.tripList_container {
    margin: 100px 0;  
}

.tripListItem_container{
    width: 85%;
    height: auto;
    margin: 30px auto;
}

.tripListItem_gridContainer {
    border: 2px #85dbf2 solid;
}

.tripListItem_titleContainer {
    display: flex;
}

.tripListItem_title {
    text-align: left;
    font-size: 2rem;
    font-family: 'Asap Condensed', sans-serif;
    margin: 10px 0 20px 10px;
}

.tripListItem_buttonContainer {
    height: 55%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.tripListItem_addFavouriteTrip {
    border: none;
    background-color: rgb(255, 255, 255);
}

.tripListItem_addFavouriteTrip_red {
    border: none;
    background-color: rgb(255, 255, 255);
    color: red;
}

.tripListItem_price {
    margin: 18px 10px 0 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    font-weight: 1000;
}

.photo_img {
    width: 400px;
    margin: 5px 0 5px 5px;
}

.description_mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #626262;
    text-align: left;
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    width: 70%;
    margin: 0 0 0 20px;
}

.description_singleElement {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    justify-items: center;
    align-items: center;
}

.description_icon {
    font-size: 1.2rem;
    padding-right: 5px;
}

.slider_sliderContainer {
    display: flex;
    flex-direction: column;
}

.slider_singleSlider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider_sliderName{
    width: 20%;
}

.slider_sliderBar {
    width: 40%;
}

.moreDetailsWindow_buttonText {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 1.1rem; 
}

.moreDetailsWindow_buttonText_span {   
    background-color: #85dbf2;
    color: #fefefe;
    padding: 3px;
}

.moreDetailsWindow_title {
    width: 90%;
    margin: 20px 0 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.moreDetailsWindow_ratingDiv {
    margin-right: -25px;
}

.moreDetailsWindow_mainDescription {
    text-align: justify;
}

.moreDetailsWindow_price {
    text-align: right;

}

.moreDetailsWindow_cancelButton {
    margin-right: 7px;
}

@media screen and (max-width: 1110px) {
    .photo_img {
        width: 300px;
    }

    .tripListItem_buttonContainer {
        height: 45%;
        align-items: flex-end;
    }

}

@media screen and (max-width: 1036px) {
    .photo_img {
        display: none;
    }

    .tripListItem_buttonContainer {
        height: auto;
        margin: 10px 0;
    }
}

@media screen and (max-width: 668px) {
    .tripListItem_title {
        font-size: 1.8rem;
    }

    .tripListItem_title_blue {
        font-size: 1.8rem;
    }

    .tripListItem_buttonContainer {
        height: auto;
        margin: 10px 0;
    }

    .description_mainContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    .description_singleElement {
        margin: 3px;
    }

    .tripListItem_price {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 510px) {
    .tripListItem_title {
        font-size: 1.7rem;
        margin-top: 12px;
    }
    
    .tripListItem_title_blue {
        font-size: 1.7rem;
        margin-top: 12px;
    }

    .tripListItem_price {
        font-size: 1rem;
    }

    .tripListItem_buttonContainer {
        height: auto;
        justify-content: flex-start;
        margin: 10px 0 10px 20px;
    }

    .moreDetailsWindow_title {
        font-size: 1.2rem;
        display: block;
    }

    .moreDetailsWindow_ratingDiv {
        margin-top: 10px;
        height: 10px;
    }

    .moreDetailsWindow_description {
        display: none;
    }

    .moreDetailsWindow_mainDescription {
        height: 100vh;
    }
 
    .moreDetailsWindow_siteSlider {
        display: none;
    }

}