.appBar {
position: fixed;
background: #e65100;
}

.logoContainer {
display: flex;
flex-direction: row;
width: 100%;
height: 50px;
align-items: center;
justify-content: space-between;
font-family: 'Asap Condensed', sans-serif;
font-size: 12px;
margin: 5px;
}

.logo {
  height: 100%;
  width: auto;
  fill: white;
  margin-bottom: 5px;
  margin-top: 5px;
    
}

.userWindow {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15vh;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Asap Condensed', sans-serif;
  font-size: 12px;
} 

.promoWindow {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  align-items: center;
  justify-content: center;
  font-family: 'Asap Condensed', sans-serif;
  font-size: 12px;
} 

.loginCall {
  margin-right: 20px;
}

.bottomNavigationList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Asap Condensed', sans-serif;
  font-size: 10px;
}

